<h1>Edit password</h1>
<%= form_with model: Current.user, url: edit_password_path do |f| %>
    <% if f.object.errors.any? %>
        <div class="alert alert-danger">
         <% f.object.errors.full.message.each do |message| %>
            <div><% message %></div>
        <% end %>
        </div>
    <% end %>

    <div class="mb-2">
        <%= f.label :password %><br>
        <%= f.password_field :password,class:"form_control" ,placeholder:"password"%>
    </div>
    <div class="mb-2">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation,class:"form_control",placeholder:"password_confirmation" %>
    </div>
    <div class="mb-2">
        <%= f.submit "Update password" ,class:"btn btn-primary"%>
    </div>
<%end%>